ul.administrator-tools {
    background-color: rgb(252, 255, 255);
    border: 1px solid rgb(190, 210, 220);
    border-top: none;
    font-size: smaller;
}

ul.administrator-tools li {
    border-right: 1px solid rgb(190, 210, 220);
}

ul.administrator-tools li:last-child {
    border-right: none;
}

ul.administrator-tools li a {
    color: rgb(25, 60, 75);
}

ul.administrator-tools li a:hover {
    background-color: rgb(240, 250, 255);
}

#admin-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

#admin-window {
    background-color: #fff;
    border: 1px solid rgb(25, 60, 75);
}

#admin-window-title {
    background-color: rgb(50, 100, 125);
    border-bottom: 1px solid rgb(25, 60, 75);
    color: #fff;
}

#admin-window-done {
    background-color: #fff;
    border: 1px solid rgb(25, 60, 75);
    color: rgb(25, 60, 75);
}