body {
    background-color: #fff;
}

table.lunch-calendar {
    background-color: #fff;
    border: 1px solid rgb(190, 210, 220);
}

table.lunch-calendar caption {
    color: #111;
    user-select: none;
}


table.lunch-calendar td {
    border: 1px solid rgb(190, 210, 220);
}

table.lunch-calendar thead td {
    background-color: rgb(7, 154, 203);
    color: #fff;
    font-weight: normal;
}

table.lunch-calendar tbody td {
    color: rgb(25, 60, 75);
}
