body {
    background-color: rgb(240, 250, 255);
}

table.lunch-calendar {
    background-color: #fff;
    border: 1px solid solid rgb(190, 210, 220);
}

table.lunch-calendar caption {
    color: #111;
}

table.lunch-calendar thead {
    color: #fff;
}

table.lunch-calendar td {
    border: 1px solid rgb(190, 210, 220);
}

table.lunch-calendar thead td {
    background-color: rgb(50, 100, 125);
}

table.lunch-calendar tbody td {
    color: inherit;
}

span.day-number {
    color: #111;
}