div.administrator-tools-container {
    background-color: #444;
    border-bottom: 1px solid #111;
    text-align: center;
}

ul.administrator-tools {
    border-top: none;
    font-size: 90%;
    display: inline-block;
}

ul.administrator-tools li {
    border-right: 1px solid #222;
}

ul.administrator-tools li:first-child {
    border-left: 1px solid #222;
}

ul.administrator-tools li.saved {
    background-color: #51B068;
}

ul.administrator-tools li a {
    color: #fff;
}

ul.administrator-tools li a:hover {
    background-color: #333;
}

.admin-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.admin-window {
    background-color: #fff;
    border: 1px solid #111;
}

.admin-window-title {
    background-color: #d64141;
    border-bottom: 1px solid #111;
    color: #fff;
}

.admin-window-done {
    background-color: #111;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
}
