#menu-editor-window {
    background-color: #fff;
    border: 1px solid #111;
}

#menu-editor-title {
    background-color: #d64141;
    border-bottom: 1px solid #111;
    color: #fff;
}

#menu-editor-done {
    background-color: #111;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
}

textarea.input-meal {
    border: 1px solid #aaa;
}

input.input-meal-extra {
    border: 1px solid #aaa;
}

#menu-left-arrow, #menu-right-arrow {
    background-color: #111;
    color: #fff;
}
