body {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

#weekly-calendar {
    border-collapse: collapse;
    table-layout: fixed;
    overflow-y: hidden;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

#weekly-calendar td {
    border: 1px solid #ccc;
    vertical-align: top;
}

#weekly-calendar tr.title td {
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #862020;/*#d64141;*/
}

#weekly-calendar tr.day {
}

#weekly-calendar tr.day td {
    padding: 15px 10px;
}

#weekly-calendar tr.today td {
    background-color: #ddd;
}

#weekly-calendar h3 {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 18px;
}