.admin-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.admin-window {
    background-color: #fff;
    border: 1px solid #111;
}

.admin-window-title {
    background-color: #862020;
    border-bottom: 1px solid #111;
    color: #fff;
}

.admin-window-done {
    background-color: #111;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
}
