.admin-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.admin-window {
    background-color: #fff;
    border: 1px solid #111;
}

.admin-window-title {
    background-color: #862020;
    border-bottom: 1px solid #111;
    color: #fff;
}

.admin-window-done {
    background-color: #333;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #222;
}

.admin-window-done:hover {
    background-color: #222;
    border: 1px solid #111;
}

/* MENU EDITOR */

.admin-window {
    background-color: #666;
    color: #fff;
}
