div.administrator-tools-container {
    background-color: #555;
    text-align: center;
}

ul.administrator-tools {
    font-size: 90%;
    display: inline-block;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

ul.administrator-tools li.logo   { background-color: #2096ce; }
ul.administrator-tools li.saved  { background-color: #51B068; }
ul.administrator-tools li.failed { background-color: #D45D5D; }

ul.administrator-tools li a {
    color: #fff;
}

ul.administrator-tools li a[href]:hover {
    background-color: #333;
}

.calendar-cell-edit {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

#caption-mode-toggle,
#caption-name-edit,
#menu-notes-edit {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
