table.lunch-calendar thead th {
    color: #fff;
    background-color: #333;
    border: 1px solid #862020;
    font-weight: bold;
}

table.lunch-calendar thead tr.consistent th {
    background-color: #862020 !important;
}