div.administrator-tools-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

ul.administrator-tools {
    float: right;
    margin: 0;
    padding: 0;
    clear: both;
}

ul.administrator-tools li {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul.administrator-tools li a {
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
}

.admin-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: none;
}

.admin-window {
    margin: 50px auto;
    width: 600px;
    min-height: 500px;
    padding-bottom: 20px;
}

.admin-window-title {
    margin: 0;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
}

.admin-window-padding {
    padding: 5px 10px 10px 10px;
    text-align: center;
}

.admin-window-done {
    padding: 5px 10px;
    font-size: 14px;
    display: inline-block;
    float: right;
    height: 25px;
    line-height: 25px;
    margin-top: 8px;
    text-decoration: none;
}

#notes-window-textarea {
    width: 95%;
    height: 200px;
    margin: 10px auto;
    display: block;
    font-size: 16px;
}

#notes-window-input {
    height: 20px;
    font-size: 14px;
    margin: 10px auto;
    width: 95%;
    display: block;
}

#notes-window-padding {
    text-align: left;
}

#notes-window-padding span {
    font-size: small;
}

#notes-window-padding h3 {
    margin: 15px 0 5px 0;
}