div.administrator-tools-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

ul.administrator-tools {
    float: right;
    margin: 0;
    padding: 0;
    clear: both;
    background-color: #d64141;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #802727;
    border-top: none;
}

ul.administrator-tools li {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0;
    border-right: 1px solid #802727;
}

ul.administrator-tools li:last-child {
    border-right: none;
}

ul.administrator-tools li a {
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}

ul.administrator-tools li a:hover {
    background-color: #b73939;
}