img.administrator-logo {
    height: 1em;
}

/* left side menu */
ul.left {
    float: left;
    text-align: left;
}

ul.left li {
    float: left;
}

/* right side menu */
ul.right {
    float: right;
    text-align: right;
}

ul.right li {
    float: right;
}

/* month navigation menu */

ul.center {
    margin: auto !important;
    text-align: center;
}


/* align the month navigation buttons */
ul.center li a             {
    width: 120px;
    text-align: center;
}

/* fix chevron arrows in center navigation */
ul.center li i.fa {
    display: inline-block;
    height: 20px;
    margin-top: 8px;
}

div.administrator-tools-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    width: 100%;
    text-align: center;
}

div.administrator-tools-thousand {
    width: 1000px;
    height: 100%;
    margin: auto;
}

ul.administrator-tools {
    width: 33%;
    margin: 0;
    padding: 0;
}

ul.administrator-tools li {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul.administrator-tools li a {
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
}

.admin-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: none;
}

.admin-window {
    margin: 50px auto;
    width: 600px;
    min-height: 500px;
    padding-bottom: 20px;
}

.admin-window-title {
    margin: 0;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
}

.admin-window-padding {
    padding: 5px 10px 10px 10px;
    text-align: center;
}

.admin-window-done {
    padding: 5px 10px;
    font-size: 14px;
    display: inline-block;
    float: right;
    height: 25px;
    line-height: 25px;
    margin-top: 8px;
    text-decoration: none;
}

#notes-window-textarea {
    width: 95%;
    height: 200px;
    margin: 10px auto;
    display: block;
    font-size: 16px;
    border: 1px solid #aaa;
}

#notes-window-input {
    height: 20px;
    font-size: 14px;
    margin: 10px auto;
    width: 95%;
    display: block;
    border: 1px solid #aaa;
}

#notes-window-padding {
    text-align: left;
}

#notes-window-padding span {
    font-size: small;
}

#notes-window-padding h3 {
    margin: 15px 0 5px 0;
}

/* CALENDAR EDIT BUTTONS */

.calendar-cell-edit {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    text-transform: none;
    height: 20px;
    line-height: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: none;
}

#menu-notes {
    position: relative;
    cursor: pointer;
}

#menu-notes-edit {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    margin: auto;
    text-align: center;
    text-transform: none;
    height: 20px;
    line-height: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: none;
}
