body {
    font-family: 'Open Sans', sans-serif;
}

table.lunch-calendar {
    border-collapse: collapse;
    table-layout: fixed;
    overflow-y: hidden;
    /*white-space: nowrap;*/
}

table.lunch-calendar {
    width: 1000px;
    margin: 0px auto;
    cursor: default;
}

table.lunch-calendar caption {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}

table.lunch-calendar.administrator caption {
    text-align: left !important;
    font-size: 25px !important;
}

table.lunch-calendar td {
    vertical-align: top;
}

table.lunch-calendar thead td {
    text-align: center;
    padding: 8px;
    border: none;
}

table.lunch-calendar tbody td {
    height: 90px;
    padding: 5px;
    font-size: smaller;
    text-transform: lowercase;
    line-height: 1em;
    font-family: Helvetica, Arial, sans-serif;
    cursor: default;
}

span.day-number {
    font-size: 200%;
    font-weight: bold;
    display: inline-block;
    height: 90px;
    float: left;
    margin-right: 5px;
    line-height: normal;
}