body {
    font-family: 'Open Sans', sans-serif;
}

i.fa {
    text-align: left;
    width: 1.3em;
}

i.fa.center {
    text-align: center !important;
    vertical-align: middle;
}

i.fa.right {
    text-align: right !important;
}

textarea, input[type=text] {
    font-family: sans-serif;
}

table.lunch-calendar {
    border-collapse: collapse;
    table-layout: fixed;
    overflow-y: hidden;
    /*white-space: nowrap;*/
}

table.lunch-calendar {
    width: 1000px;
    margin: 0px auto;
    cursor: default;
}

table.lunch-calendar caption {
    font-size: 30px;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
    line-height: 40px;
    height: 40px;
    position: relative;
}

table.lunch-calendar caption span.left,
table.lunch-calendar caption span.right {
    display: inline-block;
    line-height: 50px;
    font-size: 20px;
    height: 40px;
    font-weight: normal;
    width: 350px;
    position: absolute;
}

table.lunch-calendar caption span.left {
    left: 2px;
    top: 20px;
    text-align: left;
    float: left;
}

table.lunch-calendar caption span.right {
    right: 2px;
    top: 20px;
    text-align: right;
    float: right;
}

table.lunch-calendar td {
    vertical-align: top;
}

table.lunch-calendar thead td {
    text-align: center;
    padding: 8px;
    border: none;
}

table.lunch-calendar tbody td {
    padding: 0;
    font-size: 13px;
    line-height: 1em;
    font-family: Helvetica, Arial, sans-serif;
    cursor: default;
}

.menu-items {
    text-transform: lowercase;
}

table.lunch-calendar tbody td div.inner {
    overflow: hidden;
    height: 8em;
    padding: 5px;
    width: auto;
    position: relative;
}

span.day-number {
    font-size: 200%;
    font-weight: bold;
    display: inline-block;
    height: 100%;
    float: left;
    margin-right: 8px;
    line-height: normal;
}

/* FOOTER NOTES */

#menu-notes {
    text-align: center;
    width: 100%;
    font-size: 90%;
    margin: 20px auto 5px auto;
    min-height: 50px;
}

/* PUBLIC CALENDAR NAVIGATION */

#menu-footer-navigation {
    width: 1000px;
    margin: auto;
    margin: 10px auto 20px auto;
}

#menu-footer-navigation div {
    padding: 8px;
}

#menu-footer-navigation .left {
    clear: left;
    float: left;
    text-align: left;
}

#menu-footer-navigation .right {
    clear: right;
    float: right;
    text-align: right;
}

#menu-footer-navigation a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

/* ADMIN MODE */

table.lunch-calendar.administrator tbody td {
    cursor: pointer !important;
}

table.lunch-calendar.administrator {
    margin-top: 50px;
}

table.lunch-calendar.administrator td.today {
    background-color: #eee;
}
