body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

i.fa {
    text-align: left;
    width: 1.3em;
}

i.fa.center {
    text-align: center !important;
    vertical-align: middle;
}

i.fa.right {
    text-align: right !important;
}

textarea, input[type=text] {
    font-family: sans-serif;
}

table.lunch-calendar {
    border-collapse: collapse;
    table-layout: fixed;
    overflow-y: hidden;
    background-color: rgb(252, 252, 252);
    border: 1px solid #999;
    /*white-space: nowrap;*/
}

table.lunch-calendar {
    width: 1000px;
    margin: 0px auto;
    cursor: default;
}

#calendar-header {
    font-size: 30px;
    font-weight: bold;
    padding: 12px 0;
    text-align: center;
    line-height: 40px;
    height: 40px;
    position: relative; /* edit buttons */
    color: inherit;
    width: 1000px;
    margin: 0 auto;
}

#calendar-header span.left,
#calendar-header span.right {
    display: inline-block;
    font-size: 20px;
    height: 40px;
    font-weight: normal;
    width: 350px;
    position: absolute;
}

#calendar-header span.left {
    left: 2px;
    top: 20px;
    text-align: left;
    float: left;
}

#calendar-header span.right {
    right: 2px;
    top: 20px;
    text-align: right;
    float: right;
}

table.lunch-calendar td {
    vertical-align: top;
    border: 1px solid #999;
}

table.lunch-calendar thead th {
    text-align: center;
    padding: 8px;
    border: 1px solid;
}

table.lunch-calendar tbody td {
    padding: 0;
    font-size: 13px;
    line-height: 1em;
    font-family: Helvetica, Arial, sans-serif;
    cursor: default;
    position: relative; /* for the edit button */
    color: inherit;
}

/* also remember .notes-items is used for notes cells */
.menu-items {
    text-transform: lowercase;
}

.menu-items, .notes-items {
    display: inline-block;
    width: 155px; /* 188 (.inner) - 28 (.day-number) - 5 (.day-number padding) */
}

table.lunch-calendar tbody td div.inner {
    overflow: hidden;
    height: 8em;
    padding: 5px;
    width: 188px; /* 200 - 10 (padding) - 2 (borders) */
}

span.day-number {
    font-size: 200%;
    font-weight: bold;
    display: inline-block;
    height: 100%;
    float: left;
    margin-right: 5px;
    line-height: normal;
    width: 28px;
    color: inherit;
}

/* FOOTER NOTES */

#menu-notes {
    text-align: center;
    width: 1000px;  /* same as calendar */
    margin: 20px auto; /* overridden when printing */
    font-size: 13px;
    line-height: 1em;
    min-height: 30px; /* at least leave enough to show the edit button */
    max-height: 5em;
    overflow: hidden;
}

#menu-notes.printing {
    margin: 10px auto 0 auto;
}

/* PUBLIC CALENDAR NAVIGATION */

#menu-footer-navigation {
    width: 1000px;
    margin: auto;
    margin: 10px auto 20px auto;
}

#menu-footer-navigation div {
    padding: 8px;
}

#menu-footer-navigation .left {
    clear: left;
    float: left;
    text-align: left;
}

#menu-footer-navigation .right {
    clear: right;
    float: right;
    text-align: right;
}

#menu-footer-navigation a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

/* CHANGES TO CALENDAR WHEN IN ADMIN MODE */

table.lunch-calendar.administrator tbody td {
    cursor: pointer !important;
}

#calendar-header.administrator {
    margin-top: 50px;
}

table.lunch-calendar.administrator td.today {
    background-color: #eee;
}
