#menu-editor-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#menu-editor-window {
    margin: 50px auto;
    width: 600px;
    min-height: 500px;
    padding-bottom: 20px;
}

#menu-editor-title {
    margin: 0;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
}

#menu-editor-padding {
    padding: 5px 10px 10px 10px;
}

#menu-editor-done {
    padding: 5px 10px;
    font-size: 14px;
    display: inline-block;
    float: right;
    height: 25px;
    line-height: 25px;
    margin-top: 8px;
    text-decoration: none;
}

#menu-editor {
}

#menu-editor h2 {
    margin: 10px 0;
}

textarea.input-meal {
    width: 572px;
    height: 100px;
    font-size: 16px;
}

input.input-meal-extra {
    font-size: 16px;
}

#menu-left-arrow, #menu-right-arrow {
    display: block;
    position: absolute;
    top: 250px;
    font-size: 25px;
    display: inline-block;
    float: right;
    margin-top: 8px;
    text-decoration: none;
    padding: 10px 15px;
}

#menu-left-arrow {
    left: 10px;
}

#menu-right-arrow {
    right: 10px;
}

table.lunch-calendar tbody td.edit-button {
    cursor: pointer !important;
}