.admin-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: none;
}

.admin-window {
    margin: 50px auto;
    width: 650px;
}

.admin-window-title {
    margin: 0;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    font-size: 1.3em;
}

.admin-window-padding {
    padding: 25px 20px;
    text-align: center;
}

.admin-window-done {
    padding: 5px 10px;
    font-size: 14px;
    display: inline-block;
    float: right;
    height: 25px;
    line-height: 25px;
    margin-top: 8px;
    text-decoration: none;
}

/* MENU EDITOR */

.admin-window.editor {

}

.admin-window.editor h3 {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0px 10px;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.1em;
}

.admin-window.editor textarea {
    box-sizing: border-box;
    width: 100%;
    border: none;
    height: 150px;
}


.admin-window.editor .right-side {
    float: right;
    width: 230px;
    height: 500px;
}
