.admin-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: none;
}

.admin-window {
    margin: 50px auto;
    width: 650px;
}

.admin-window-title {
    margin: 0;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    font-size: 1.3em;
}

.admin-window-padding {
    padding: 25px 20px;
    text-align: center;
}

.admin-window-done {
    padding: 5px 10px;
    font-size: 14px;
    display: inline-block;
    float: right;
    height: 25px;
    line-height: 25px;
    margin-top: 8px;
    text-decoration: none;
}

/* MENU EDITOR */

.admin-window.editor {

}

.admin-window.editor h3 {
    width: auto;
    margin: 0;
    padding: 0px 10px;
    height: 35px;
    line-height: 35px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.1em;
    clear: both;
}

.admin-window.editor h3 span {
    float: right;
    display: inline-block;
    height: 35px;
    width: 220px;
    text-align: left;
}

.admin-window.editor textarea {
    box-sizing: border-box;
    width: 96%;
    border: none;
    height: 150px;
    padding: 4px;
    margin: 0 auto;
    display: block;
    font-size: 16px;
}

.admin-window-editor .clear {
    clear: both;
}

.admin-window.editor .left-side {
    float: left;
    width: 420px;
}

.admin-window.editor .preview {
    height: 150px;
    float: right;
    width: 230px;
}

.admin-window.editor .preview-cell {
    height: 100px;
    padding: 0;
    text-transform: lowercase;
    line-height: 1em;
    font-family: Helvetica, Arial, sans-serif;
    width: 199px;
    font-size: 13px;
    background-color: rgb(252, 252, 252);
    color: #000;
}

.admin-window.editor .preview-cell .inner {
    padding: 5px;
    width: auto;
    height: 100%;
}

.admin-window.editor .input-wrap {
    margin: 10px 0 12px 8px;
}

.admin-window.editor .input-wrap input {
    display: inline-block;
    height: 20px;
    padding: 3px;
    font-size: 16px;
    margin-right: 6px;
}
