.admin-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: none;
}

.admin-window {
    margin: 50px auto;
    width: 600px;
    position: relative;
}

.admin-window-title {
    margin: 0;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    font-size: 1.3em;
}

.admin-window-alert {
    height: 300px;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    text-align: center;
}

.admin-window-done {
    padding: 5px 10px;
    font-size: 14px;
    display: inline-block;
    float: right;
    height: 25px;
    line-height: 25px;
    margin-top: 8px;
    text-decoration: none;
}
